{%extends 'app/layoutTestA.html'%}
{%load static%}
{%block content%}
<form method="post" action="">
    {%csrf_token%}
    <center>
        <button><a href="{%url 'a_Dash'%}">Back</a></button>
    </center>
    <br /><br />
    <br />
    <br />
    <br />
    <center>
        <hr size="2px" color="#000">
        <table cellpadding="10" cellspacing="1">
            <tbody>
                <tr>
                    <th>Student No</th>
                    <th>Time</th>
                    <th>Date</th>
                    <th>Download</th>    
                </tr>
                {%for x in submit%}
                <tr>
                    <td>{{x.student_no}}</td>
                    <td>{{x.time}}</td>    
                    <td>{{x.date}}</td> 
                    <td><a href="{{x.paper.url}}">Download</a></td> 
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </center>
    <br /><br />
 

</form>
{%endblock%}
