body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.question {
    padding: 5px;
    width: 50%;
    background-color: #f5f5f5;
    border-radius: 50px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid transparent;
    font-size: 25px;
    font-weight: bold;
}

.q_middle {
    padding: 5px;
    width: 50%;
    background-color: #f5f5f5;
    border: 1px solid transparent;
    font-size: 25px;
    font-weight: bold;
}

.q_end {
    padding: 5px;
    width: 50%;
    background-color: #f5f5f5;
    border-radius: 50px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: 1px solid transparent;
    font-size: 25px;
    font-weight: bold;
}

.q_end h1 {
    font-size: 35px;
}

.q_middle h1 {
    font-size: 35px;
}

.question h1 {
    font-size: 35px;
}

.question textarea {
    width: 90%;
}
.t1 {
    width: 40%;
}

.t2 {
    width: 35%;
}
.good {
    color: green;
}
.q_middle textarea {
    width: 90%;
}

.q_end textarea {
    width: 90%;
}

input {
    width: 70%;
    height: 55px;
    padding: 5px;
    text-align: center;
    font-style: italic;
    background-color: rgb(176, 237, 247);
    border-radius: 50px;
    border: 1px solid transparent;
    font-weight: bold;
    font-size: 20px;
    color: #000;
}

label {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    font-style: italic;
}

select {
    width: 70%;
    height: 55px;
    padding: 4.5px;
    text-align: center;
    font-style: italic;
    background-color: rgb(176, 237, 247);
    border-radius: 50px;
    border: 1px solid transparent;
    font-weight: bold;
    font-size: 20px;
    color: #000;
}

button {
    width: 70%;
    height: 58px;
    padding: 5px;
    text-align: center;
    font-style: italic;
    border: 1px solid #000;
    font-weight: bold;
    color: #f5f5f5;
    font-size: 19px;
    background-color: rgb(11, 19, 49);
    border-radius: 25px;
}

button:hover {
    transition: all ease 1.5s;
    background-color: #ffff;
    color: #000;
    border-radius: 45px;
}

.back {
    width: 70%;
    height: 58px;
    padding: 5px;
    text-align: center;
    font-style: italic;
    border: 1px solid rgb(184, 50, 9);
    font-weight: bold;
    color: #f5f5f5;
    font-size: 21px;
    background-color: rgb(184, 50, 9);
    border-radius: 25px;
    font-weight: bolder;
}

.back:hover {
    transition: all ease 1.5s;
    background-color: #ffff;
    color: #000;
    border-radius: 45px;
}

p {
    font-size: 20px;
    color: #000;
}
@page{
    size:A4;
    margin:2.5cm 1.5cm 3.5cm 1.5cm;
}
a {
    text-decoration: none;
    color: orange;
}

.top {
    width: 100%;
    height: 255px;
    background-color: rgb(11, 19, 49);
    padding: 5px;
    margin: 0px;
    font-weight: bold;
    position: fixed;
    font-size: 55px;
    color: #ffff;
    padding-top: 18px;
    position: fixed;
}

/* screen sizes*/

@media screen and (orientation:landscape) {
    input {
        width: 35%;
    }
    select {
        width: 35%;
    }
    button {
        width: 14%;
    }
    .back {
        width: 14%;
    }
    hr {
        width: 45%;
    }
    .top {
        height: 85px;
    }

}

@media screen and (orientation:portrait) {
    input {
        width: 75%;
    }
    select {
        width: 75%;
    }
    button {
        width: 50%;
    }
    .back {
        width: 70%;
    }
    hr {
        width: 75%;
    }
    .t1 {
        width: 29%;
    }

    .t2 {
        width: 7%;
    }
    .top {
        height: 85px;
    }
    .question {
        width: 80%;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .q_middle {
        width: 80%;
    }
    .q_end {
        width: 80%;
    }
}


/* Center the loader */

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid rgb(176, 237, 247);
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Add animation to "page content" */

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

#myDiv {
    display: none;
    text-align: center;
}