{% extends "app/layout.html" %}
{% block content %}
{% load static %}
<div class="jumbotron">
    <h1>Author</h1>
    <p class="lead">An A.I driven platform for advanced testing and examination, watching your every move as you write your exams </p>
    <p>
        <!--<a href="" class="btn btn-primary btn-large">Learn more &raquo;</a>-->
    </p>
</div>
<div class="row">
    <center>
        <div class="dash-grid">
            <div class="dash-item">
                <br>
                <img src="{%static 'app/images/icons8-male-user-52.png'%}" width="60px">
                <h1>Student</h1>
                <br>
                <button><a href="{% url 'login'%}">Login</a></button>
                <br><br>
            </div>
            <div class="dash-item3">
                <br>
                <img src="{% static 'app/images/icons8-male-user-52.png'%}" width="60px">
                <h1>Admin</h1>
                <br />
                <button><a href="{% url 'adminLogin'%}">Login</a></button>
                <br><br>
            </div>
        </div>
    </center>
</div>

{% endblock %}
